{% extends "main_layout.html" %}
{% block content %}
<body>
    <hr>
    <div>
        <h2>Contact Me!</h2>
        <hr>
<div class="card border-info border rounded-0 shadow" style="border-style: solid;margin-bottom: 10px;">
    <div class="card-body" style="padding: 3%;">
        <div style="margin-bottom: -10px;">
            <div class="row">
                <p style="color: rgb(0, 141, 12); font-size: large;">WhatsApp : 0823-1062-9252</p>
                <p style="color: rgb(184, 0, 0); font-size: large;">G-mail : mohrizkiamrain@gmail.com</p>
                <p style="color: rgb(255, 0, 221); font-size: large;">Instagram : rizkiamrain_</p>
                <p style="color: rgb(0, 38, 255); font-size: large;">Facebook : Mohamad Rizki Amrain</p>
            </div>
        </div>
    </div>
</div>
<hr>
</body>
{% endblock %}