{% extends "main_layout.html" %}
{% block content %}
<body>
    <hr>
    <div>
        <h2>My Profil</h2>
        <hr>
<div class="card border-info border rounded-0 shadow" style="border-style: solid;margin-bottom: 10px;">
    <div class="card-body" style="padding: 4%;">
        <div style="margin-bottom: -10px;">
            <div class="row">
                <p style="color: rgb(27, 27, 27); font-size: large;">Nim : T3122092</p>
                <p style="color: rgb(27, 27, 27); font-size: large;">Nama : Mohamad Rizki Amrain</p>
                <p style="color: rgb(27, 27, 27); font-size: large;">Ttl : Tilamuta, 26 Maret 2001</p>
                <p style="color: rgb(27, 27, 27); font-size: large;">Kelas : Reguler Pagi B</p>
                <p style="color: rgb(27, 27, 27); font-size: large;">Fakultas : Ilmu Komputer</p>
                <p style="color: rgb(27, 27, 27); font-size: large;">Program Studi : Teknik Informatika</p>
            </div>
        </div>
    </div>
</div>
<hr>
</body>
{% endblock %}